@{
    ViewData["Title"] = "Document";
}
<h1>@ViewData["Title"]</h1>

<div class="" style="max-width: 540px;">
  <div class="row g-0">
    <div class="">
      <img src="https://th.bing.com/th?id=OSK.HEROBIJFkfuiqIzFzU0k8nApC8vSQLEpU2ioeC3Wp9NRb4M&w=472&h=280&c=1&rs=2&o=6&dpr=1.3&pid=SANGAM" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="">
      <div class="card-body">
        <h5 class="card-title">Su Samurları</h5>
        <p class="card-text">Su samurları, Mustelidae familyasına ait, suda ve karada yetenekli bir şekilde yaşayan memeli hayvanlardır. Bilimsel adı "Lutra" olan bu hayvanlar genellikle uzun, su geçirmez tüyleri ve yüzgeç benzeri ayakları ile tanınırlar. Su samurları, genellikle nehirler, göletler ve deniz kıyıları gibi sulak alanlarda bulunurlar. Bu hayvanlar, su altında uzun süre dalmak için adaptasyon göstermiş olup, avlarını su altında aramak ve yakalamak için gelişmiş yüzme yeteneklerine sahiptirler. Ayrıca, gelişmiş bir duyu sistemi ve hızlı hareket yetenekleri sayesinde avlarını etkili bir şekilde avlayabilirler. Su samurları genellikle tek başlarına yaşarlar ve avlarını genellikle balıklar, kabuklular ve sucul böcekler gibi sucul organizmalar oluşturur. Su samurları, sevimli görünümleri ve eşsiz yaşam tarzlarıyla doğal yaşamın önemli ve ilgi çekici bir parçası olarak kabul edilirler.</p>
      </div>
    </div>
    <div class="">
      <img src="https://th.bing.com/th/id/OIP.kj9LulCnWRZ7m3Sgb8n1yQHaEK?w=309&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="card-body">
        <p class="card-text">Su samurları, sosyal ve oyunbaz davranışlarıyla da dikkat çeken hayvanlardır. Özellikle genç su samurları, suyun içinde oyunlar oynayarak birbirleriyle etkileşimde bulunurlar. Su içindeki çeviklikleri, hızlı yüzme yetenekleri ve zekaları, avlanma ve hayatta kalma becerilerini artırır. Ayrıca, su samurlarının yoğun bir tüy yapısına sahip olmaları, suyun içinde daha rahat hareket etmelerini sağlar ve vücutlarını sıcak tutar. Su samurları, ekosistemlerdeki dengeyi korumada da önemli bir rol oynarlar, çünkü avladıkları organizmaların kontrolsüz popülasyon artışlarını engellerler. Bu sevimli memeliler, sucul yaşam alanlarının biyoçeşitliliğini koruma açısından ekolojik olarak kilit bir rol oynarlar.</p>
      </div>
  </div>
</div>
