@{
    ViewData["Title"] = "Text";
}
<h1>@ViewData["Title"]</h1>


<div class="d-flex flex-row mb-3">
<p><a class="link-offset-1 p-2" href="http://localhost:5243/">Home</a></p>
<p><a class="link-offset-2 p-2" href="http://localhost:5243/Home/Privacy">Privacy</a></p>
<p><a class="link-offset-3 p-2" href="http://localhost:5243/Home/Document">Document</a></p>
<p><a class="link-offset-4 p-2" href="http://localhost:5243/Home/Help">Help</a></p>
</div>